<section class="sitewide-comments infinite-scroll-stream" data-infinite-scroll>
  <div class="infinite-scroll-pages" data-infinite-scroll-target="pages">
    <%= render 'comments/page', comments: @comments, pagy: @pagy %>
  </div>
</section>
